<div id="sidebar" class="sidebar responsive ace-save-state" th:fragment="navbar">
		<script type="text/javascript">
			try{ace.settings.loadState('sidebar')}catch(e){}
		</script>
		<ul class="nav nav-list">
			<li class="active">
				<a th:href="@{/dashboard}">
					<i class="menu-icon fa fa-desktop"></i>
					<span class="menu-text"> Dashboard </span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a th:href="@{/form}">
				<i class="menu-icon fa fa-plug"></i>
					<span class="menu-text"> Add Utility 
						<span class="badge badge-primary"  th:text="${count}">1</span>
					</span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a th:href="@{/utilitylist}">
					<i class="menu-icon fa fa-bar-chart"></i>
					<span class="menu-text"> Utility List </span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-object-group"></i>
					<span class="menu-text"> Branch </span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<li class="">
						<a th:href="@{/addbranch}">
							<i class="menu-icon fa fa-caret-right"></i>
							Create New Branch
						</a>
						<b class="arrow"></b>
					</li>
					<li class="">
						<a th:href="@{/branchdetail}">
							<i class="menu-icon fa fa-caret-right"></i>
							Show Branch List
						</a>
						<b class="arrow"></b>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-shield"></i>
					<span class="menu-text"> Insurance </span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<li class="">
						<a th:href="@{/insSchema}">
							<i class="menu-icon fa fa-caret-right"></i>
							Company & Schema Product
						</a>
						<b class="arrow"></b>
					</li>
					<li class="">
						<a th:href="@{/inscustform}">
							<i class="menu-icon fa fa-caret-right"></i>
							Insurance Form
						</a>
						<b class="arrow"></b>
					</li>
					<li class="">
						<a th:href="@{/inscustlist}">
							<i class="menu-icon fa fa-caret-right"></i>
							Insurance Customer List
						</a>
						<b class="arrow"></b>
					</li>
				</ul>
			</li>
			<li class="">
				<a th:href="@{/inscustreport}">
					<i class="menu-icon fa fa-list-ol"></i>
					<span class="menu-text"> Insurance Report </span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a th:href="@{/feedback}">
					<i class="menu-icon fa fa fa-comments"></i>
					<span class="menu-text"> Feedback </span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a th:href="@{/feedbacklist}">
					<i class="menu-icon fa fa-medium"></i>
					<span class="menu-text"> Feedback List</span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a th:href="@{/register}">
					<i class="menu-icon fa fa-user-plus"></i>
					<span class="menu-text"> Add User </span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a th:href="@{/userlist}">
					<i class="menu-icon fa fa-th-list"></i>
					<span class="menu-text"> Users List </span>
				</a>
				<b class="arrow"></b>
			</li>	
		</ul><!-- /.nav-list -->
		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>
</div>
