<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="../static/font-awesome/4.5.0/css/font-awesome.min.css" th:href="@{/font-awesome/4.5.0/css/font-awesome.min.css}"/>
<link rel="stylesheet" href="../static/css/fonts.googleapis.com.css" th:href="@{/css/fonts.googleapis.com.css}"/>
<link rel="stylesheet" href="../static/css/chosen.min.css" th:href="@{/css/chosen.min.css}"/>
<link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
<link rel="stylesheet" href="../static/css/ace.min.css" th:href="@{/css/ace.min.css}" id="main-ace-style" />
<link rel="stylesheet" href="../static/css/ace-skins.min.css" th:href="@{/css/ace-skins.min.css}"/>
<link rel="stylesheet" href="../static/css/ace-rtl.min.css" th:href="@{/css/ace-rtl.min.css}" />
<link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
<script src="../static/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js/}"></script>
