<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>User Register Page</title>
</head>
<body>
<div >
    <div  class="main-container">
        <div class="main-content">

            <div class="page-content" layout:fragment="content">
                <div class="page-header">
                    <h1>
                        <i class="ace-icon fa fa-users blue"></i>
                        New Insurance Customer Registration
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">

                    <div th:if="${message}">
                        <h2 class="alert alert-danger" th:text="${message}"/>
                    </div>
                    <div class="position-relative">
                        <div class="signup-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">

                                    <form data-toggle="validator" method="POST" role="form"
                                          th:action="@{/addinscust}" th:object="${insuranceCustomer}">
                                        <div class="col-sm-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="block clearfix" for="inputCode">Insurance Company Name</label>
                                                    <select class="form-control" id="insCompanyCode" name="insCompanyCode"
                                                            required>
                                                        <option selected value=""> Please Select Insurance Company Code...
                                                        </option>
                                                        <option th:each="insuranceCompanyLists : ${insuranceCompanyList}"
                                                                th:text="${insuranceCompanyLists.insCompanyName}"
                                                                th:value="${insuranceCompanyLists.insCompanyName}"></option>
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="block clearfix" for="nameAcc">Schema Code Number</label>
                                                    <select class="form-control" id="insCompanyCode" name="insCompanyCode"
                                                            required>
                                                        <option selected value=""> Please Select Insurance Company Code...
                                                        </option>
                                                        <option th:each="insuranceSchemaLists : ${insuranceSchemaList}"
                                                                th:text="${insuranceSchemaLists.insSchemaCode}"
                                                                th:value="${insuranceSchemaLists.insSchemaCode}"></option>
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="block clearfix" for="inputCName">Schema Name</label>
                                                    <select class="form-control" id="insCompanyCode" name="insCompanyCode"
                                                            required>
                                                        <option selected value=""> Please Select Insurance Company Code...
                                                        </option>
                                                        <option th:each="insuranceSchemaLists : ${insuranceSchemaList}"
                                                                th:text="${insuranceSchemaLists.insSchemaName}"
                                                                th:value="${insuranceSchemaLists.insSchemaName}"></option>
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="block clearfix" for="schemaTenure">Schema
                                                        Tenure(Years)</label>
                                                    <span class="block input-icon input-icon-right">
                                                      <input class="form-control" data-error="Please enter Insurance Company Name."
                                                             id="schemaTenure"
                                                             name="schemaTenure" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                             pattern="[0-9]"
                                                             placeholder="Schema Tenure(Years)"
                                                             required
                                                             step="1" title="Must be an integer number" type="number"/>
                                                       </span>
                                                    <div class="help-block with-errors"></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="block clearfix" for="inputFatherName">Master Policy ID</label>
                                                    <span class="block input-icon input-icon-right">
					                      <input class="form-control" data-error="Please enter father name field."
                                                 id="inputFatherName" name="fatherName"
                                                 placeholder="Father's Name" required type="text"/>
					                      <i class="ace-icon fa fa-user"></i>
						                    </span>
                                                    <div class="help-block with-errors"></div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="block clearfix" for="inputFatherName">Start Date</label>
                                                    <span class="block input-icon input-icon-right">
					                      <input class="form-control" data-error="Please enter father name field."
                                                 id="inputFatherName" name="fatherName"
                                                 placeholder="Father's Name" required type="text"/>
					                      <i class="ace-icon fa fa-user"></i>
						                    </span>
                                                    <div class="help-block with-errors"></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="block clearfix" for="grandFName">End Date</label>
                                                    <span class="block input-icon input-icon-right">
					                      <input class="form-control" data-error="Please enter name field."
                                                 id="grandFName" name="grandFatherName"
                                                 placeholder="Grand Father's Name" required type="text"/>
					                      <i class="ace-icon fa fa-user"></i>
						                    </span>
                                                    <div class="help-block with-errors"></div>
                                                </div>


                                            </fieldset>

                                        </div>

                                        <div class="col-sm-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="block clearfix" for="inputMobile">Insured Amount</label>
                                                    <span class="block input-icon input-icon-right">
					                      <input class="form-control" data-error="Please enter valid mobile number field."
                                                 id="inputMobile" name="clientMobile"
                                                 placeholder="Mobile Number" required type="tel"/>
					                      <i class="ace-icon fa fa-user"></i>
						                    </span>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="block clearfix" for="tel">Installment Amount</label>
                                                    <span class="block input-icon input-icon-right">
				                      <input class="form-control" data-error="Please enter valid telephone number field."
                                             id="tel" name="clientTel"
                                             placeholder="Telephone Number" type="tel"/>
				                       <i class="ace-icon fa fa-user"></i>
						               </span>
                                                    <div class="help-block with-errors"></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="block clearfix" for="insType">Payment Frequency</label>
                                                    <select class="form-control" id="insType" name="schemaType" required>
                                                        <option selected value=""> Please Select Insurance Company Type...
                                                        </option>
                                                        <option value="Life">Monthly</option>
                                                        <option value="Non_Life">Quaterly</option>
                                                        <option value="Non_Life">Half Yearly</option>
                                                        <option value="Life_NonLife">Yearly</option>
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="block clearfix" for="cAddress">Branch Name</label>
                                                    <select class="chosen-select form-control" id="cAddress" name="branchName" data-placeholder="Choose Branch..." required>
                                                        <option value="">  </option>
                                                        <option th:each="branches : ${branchList}"
                                                                th:value="${branches.branchName}"
                                                                th:text="${branches.branchName}"></option>
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="block clearfix" for="pAddress">Marketed By</label>
                                                    <span class="block input-icon input-icon-right">
									         <input class="form-control" data-error="must enter minimum of 5 characters" id="pAddress"
                                                    name="cPermanentAddress" placeholder="Permanent Address"
                                                    required type="text">
									           <i class="ace-icon fa fa-lock"></i>
					                   			 </span>
                                                    <div class="help-block with-errors"></div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="block clearfix" for="idRemark">Remarks</label>
                                                    <span class="block input-icon input-icon-right">
					                      <input class="form-control" data-error="Please enter remarks field."
                                                 id="idRemark" name="cIdRemarks"
                                                 placeholder="ID-Remarks" type="text"/>
					                      <i class="ace-icon fa fa-home"></i>
					                    </span>
                                                    <div class="help-block with-errors"></div>
                                                </div>

                                                <div class="space-10"></div>

                                                <div class="clearfix">
                                                    <button class="width-30 pull-left btn btn-sm" type="reset">
                                                        <i class="ace-icon fa fa-refresh"></i> <span
                                                            class="bigger-110">Reset</span>
                                                    </button>

                                                    <button class="width-65 pull-right btn btn-sm btn-success"
                                                            type="submit">
                                                        <span class="bigger-110">Submit</span> <i
                                                            class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                    </form>
                                </div>


                            </div><!-- /.widget-body -->
                        </div><!-- /.signup-box -->
                    </div><!-- /.position-relative -->
                </div><!-- /.widget-body -->
            </div><!-- /.signup-box -->




        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
</div>
<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript" href="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js/}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<!-- inline scripts related to this page -->

</body>
</html>
