<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Insurance Customer Register Page</title>
<th:block layout:fragment="styles">
	  
</th:block>
</head>
<body>
	<div>
		<div class="main-container">
			<div class="main-content">
				<div class="page-content" layout:fragment="content">
					<div class="page-header">
						<h1>
							<i class="ace-icon fa fa-users blue"></i>New Insurance Customer
							Registration
						</h1>
					</div>
					<!-- /.page-header -->
					<div class="row">
						<div th:if="${message}">
							<h2 class="alert alert-danger" th:text="${message}" />
						</div>
						<div class="position-relative">
							<div class="signup-box visible widget-box no-border">
								<div class="widget-body">
									<div class="widget-main">
										<form method="POST" role="form"
											th:action="@{/inscustregister}"
											th:object="${insuranceCustomerRegister}">
											<div class="col-sm-4">
												<fieldset>
													<div class="form-group">
														<label class="block clearfix" for="inputCode">Client
															Code</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter code field." id="inputCode"
															name="clientCode"
															th:value="${insCustListById.clientCode}" readonly
															required type="number" /> <i class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="nameAcc">Bank
															AcoountNumber</label> <span
															class="block input-icon input-icon-right"> <input
															class="form-control"
															data-error="Please Account Number field."
															th:value="${insCustListById.bankAccNo}" readonly
															id="nameAcc" placeholder="Bank Acoount Number" required
															type="number" /> <i class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputCName">Client
															Name</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter name field."
															th:value="${insCustListById.clientName}" readonly
															id="inputCName" placeholder="Client Name" required
															type="text" /> <i class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputEmail">Email</label>
														<span class="block input-icon input-icon-right"> <input
															class="form-control" id="inputEmail" placeholder="Email"
															th:value="${insCustListById.clientEmail}" readonly
															required type="email" /> <i
															class="ace-icon fa fa-envelope"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="tel">Telephone
															Number</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter valid telephone number field."
															th:value="${insCustListById.clientMobile}" readonly
															id="tel" placeholder="Telephone Number" type="tel" /> <i
															class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputCitz">Citizenship/ID
															Number</label> <span class="block input-icon input-icon-right">
															<input class="form-control" id="inputCitz"
															placeholder="Citizenship or ID Number"
															th:value="${insCustListById.citizenIdNo}" readonly
															required type="text"> <i
															class="ace-icon fa fa-retweet"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputFatherName">Father's
															Name</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter father name field."
															th:value="${insCustListById.fatherName}" readonly
															id="inputFatherName" placeholder="Father's Name" required
															type="text" /> <i class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
												</fieldset>

											</div>

											<div class="col-sm-4">
												<fieldset>
													<div class="form-group">
														<label class="block clearfix" for="idInsCompanyName">Insurance
															Company Name</label> 
															<select class="form-control" id="idInsCompanyName" name="insCompanyName" required></select>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="idInsSchemeName">Schema
															Name</label> 
															<select class="form-control" id="idInsSchemeName"
															name="insSchemaName" required>															
														</select>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<div id="idInsCompanyCode"></div>
													</div>
													<div class="form-group">
														<div id="idSchemeCode"></div>
													</div>
													<div class="form-group">
														<div id="idSchemaTenure"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputFatherName">Master
															Policy ID</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter father name field."
															id="inputFatherName" name="masterPolicyId"
															placeholder="Father's Name" required type="text" /> <i
															class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>


													<div class="form-group">
														<label class="block clearfix" for="inputFatherName">Start Date</label> 
														<div class="input-group">
															<input class="date-picker form-control" id="id-date-picker-1" name="insStartedDate" type="text" data-date-format="yyyy-mm-dd" required/> 
															<span class="input-group-addon">
																		<i class="fa fa-calendar bigger-110"></i>
																	</span>
														</div>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<label class="block clearfix" for="grandFName">End Date</label> 
														<div class="input-group">
															<input class="date-picker form-control"
															id="date-timepicker2" name="insEndDate" data-date-format="yyyy-mm-dd"
															 required type="text" />
															<span class="input-group-addon">
																		<i class="fa fa-calendar bigger-110"></i>
																	</span>
														</div>
														<div class="help-block with-errors"></div>
													</div>


												</fieldset>
											</div>
											<div class="col-sm-4">
												<fieldset>
													<div class="form-group">
														<label class="block clearfix" for="inputstatus">Insurance
															Status</label> <select class="form-control" id="inputstatus"
															name="insStatus" required>
															<option selected value="">Please Select
																Insurance Status Type...</option>
															<option value="Open">Open</option>
															<option value="Closed">Closed</option>
														</select>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="inputMobile">Insured
															Amount</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter valid mobile number field."
															id="inputMobile" name="insuredAmount"
															placeholder="Mobile Number" required type="tel" /> <i
															class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>
													<div class="form-group">
														<label class="block clearfix" for="tel">Installment
															Amount</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="Please enter valid telephone number field."
															id="tel" name="insInstallmentAmount"
															placeholder="Telephone Number" type="tel" /> <i
															class="ace-icon fa fa-user"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<label class="block clearfix" for="insType">Payment
															Frequency</label> <select class="form-control" id="insType"
															name="insPaymentFrequency" required>
															<option selected value="">Please Select
																Insurance Company Type...</option>
															<option value="Monthly">Monthly</option>
															<option value="Quarterly">Quarterly</option>
															<option value="Half_Yearly">Half Yearly</option>
															<option value="Yearly">Yearly</option>
														</select>
														<div class="help-block with-errors"></div>
													</div>
													
													<div class="form-group">
														<label class="block clearfix" for="idBranchName">Branch
															Name</label> 
															<select class="chosen-select form-control" id="idBranchName" name="bankBranchName" data-placeholder="Choose Branch..." required>
															<option value=""></option>
															<option th:each="branches : ${branchList}"
																th:value="${branches.branchName}"
																th:text="${branches.branchName}"></option>
														</select>
														<div class="help-block with-errors"></div>
													</div>

													<div class="form-group">
														<label class="block clearfix" for="pAddress">Marketed
															By</label> <span class="block input-icon input-icon-right">
															<input class="form-control"
															data-error="must enter minimum of 5 characters"
															id="pAddress" name="insMarketedBy"
															placeholder="Permanent Address" required type="text">
															<i class="ace-icon fa fa-lock"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>


													<div class="form-group">
														<label class="block clearfix" for="idRemark">Remarks</label>
														<span class="block input-icon input-icon-right"> <input
															class="form-control"
															data-error="Please enter remarks field." id="idRemark"
															name="remarks" placeholder="ID-Remarks" type="text" /> <i
															class="ace-icon fa fa-home"></i>
														</span>
														<div class="help-block with-errors"></div>
													</div>

													<div class="space-10"></div>

													<div class="clearfix">
														<button class="width-30 pull-left btn btn-sm" type="reset">
															<i class="ace-icon fa fa-refresh"></i> <span
																class="bigger-110">Reset</span>
														</button>

														<button class="width-65 pull-right btn btn-sm btn-success"
															type="submit">
															<span class="bigger-110">Submit</span> <i
																class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</div>
										</form>
									</div>


								</div>
								<!-- /.widget-body -->
							</div>
							<!-- /.signup-box -->
						</div>
						<!-- /.position-relative -->
					</div>
					<!-- /.widget-body -->
				</div>
				<!-- /.signup-box -->




			</div>
			<!-- /.main-content -->
		</div>
		<!-- /.main-container -->
	</div>
	<!-- basic scripts -->
	<th:block layout:fragment="scripts">
	
		<script src="../static/js/moment.min.js"
			th:src="@{/js/moment.min.js/}"></script>
		<script src="../static/js/bootstrap-datepicker.min.js"
			th:src="@{/js/bootstrap-datepicker.min.js/}"></script>
		<script src="../static/js/autosize.min.js"
			th:src="@{/js/autosize.min.js/}"></script>
		<script src="../static/js/getBranch.js" th:src="@{/js/getBranch.js/}"></script>
		<script src="../static/js/getInsuranceScheme.js"
			th:src="@{/js/getInsuranceScheme.js/}"></script>
		<script src="../static/js/chosen.jquery.min.js"
			th:src="@{/js/chosen.jquery.min.js/}"></script>
		<script>
			autosize(document.querySelectorAll('textarea'));
		</script>
		<script>
			if (!ace.vars['touch']) {
				$('.chosen-select').chosen({
					allow_single_deselect : true
				});
				//resize the chosen on window resize
				$(window)
				.off('resize.chosen')
				.on('resize.chosen', function() {
						$('.chosen-select').each(function() {
							 var $this = $(this);
							 $this.next().css({minWidth: '320px', width: 'auto'});
						})
					}).trigger('resize.chosen');
				//resize chosen on sidebar collapse/expand
				$(document).on('settings.ace.chosen',
						function(e, event_name, event_val) {
							if (event_name != 'sidebar_collapsed')
								return;
							$('.chosen-select').each(function() {
								var $this = $(this);
								$this.next().css({
									'width' : $this.parent().width()
								});
							})
						});		 
			}
		</script>
		<script>

		$('.date-picker').datepicker({
			autoclose: true,
			todayHighlight: true
		})
		//show datepicker when clicking on the icon
		.next().on(ace.click_event, function(){
			$(this).prev().focus();
		});
		</script>
	</th:block>

</body>
</html>
