<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
<meta charset="ISO-8859-1" />
<title>Insurance Customer Reports</title>
<th:block layout:fragment="styles">
	  <!-- <link rel="stylesheet" href="../static/css/daterangepicker.min.css" th:href="@{/css/daterangepicker.min.css}" /> -->
	  
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</th:block>
</head>
<body>

	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
				</li>

				<li class="active">Insurance Customer Reports</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div th:if="${message}">
						<h2 class="alert alert-danger" th:text="${message}"/>
					</div>
						<h4 class="pink">
							<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
							<a th:href="@{'/inscustreportall'}" role="button" class="green"> Click here to view all List </a>
						</h4>
					<div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
						<div class="search-area well well-sm">
							<div class="search-filter-header bg-primary">
								<h5 class="smaller no-margin-bottom">
									<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Refine your Search
								</h5>
							</div>
								<div class="space-10"></div>								
							<fieldset class="form-inline">
								<div class="input-group"> 
									<select class="form-control" id="idFilterInsCompanyName" name="insCompanyName" required></select>                                               
                                  </div>
                                  <div class="input-group">
	                                  <select class="form-control" id="idFilterInsSchemeName" name="insSchemaName"></select>                                           
                                  </div>
							</fieldset>
							<div class="space-4"></div>	
							<!-- <label>Start Date Range Picker</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span> 
								<input class="form-control" type="text"	name="date-range-picker" data-date-format="yyyy-mm-dd" id="reportrange" />
							</div>	 -->										
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>				
			</div>
			<!-- /.row -->
			<div class="hr hr-4"></div>
				<div>					
					<div class="table-header">Report for "Registered Insurance Customer
					</div>
					 <table width="100%" id="filter-table" 
							class="table table-striped table-bordered table-hover" >
				        <thead>
							<tr>
								<th class="detail-col"></th>
								<th> Client Code </th>
								<th> Insurance Company </th>
								<th data-class='hidden'> Company Code </th>
								<th> Scheme </th>
								<th data-class='hidden'> Scheme Code </th>
								<th> Master Policy ID </th>
								<th> Start Date </th>
								<th> End Date </th>
								<th> Insured Amount </th>
								<th data-class='hidden'> Installment Amount </th>
								<th data-class='hidden'> Payment Frequency </th>
								<th> Status </th>
								<th> Branch Name </th>
								<th> Marketed By </th>	
								<th data-class='hidden'> Remarks </th>								
							</tr>	
				        </thead>
				    </table>   
				</div>
			</div>
		<!-- /.content -->
	</div>
	<!-- /.main-content -->
<th:block layout:fragment="scripts">		
		<script src="../static/js/jquery.dataTables.min.js"	th:src="@{/js/jquery.dataTables.min.js/}"></script>
		<script src="../static/js/jquery.dataTables.bootstrap.min.js" th:src="@{/js/jquery.dataTables.bootstrap.min.js/}"></script>
		<script src="../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js/}"></script>
		<script src="../static/js/buttons.flash.min.js"	th:src="@{/js/buttons.flash.min.js/}"></script>
		<script src="../static/js/buttons.html5.min.js"	th:src="@{/js/buttons.html5.min.js/}"></script>
		<script src="../static/js/buttons.print.min.js"	th:src="@{/js/buttons.print.min.js/}"></script>
		<script src="../static/js/dataTables.select.min.js"	th:src="@{/js/dataTables.select.min.js/}"></script>
		<script src="../static/js/chosen.jquery.min.js"	th:src="@{/js/chosen.jquery.min.js/}"></script>
 		<script src="../static/js/getInsuranceScheme.js" th:src="@{/js/getInsuranceScheme.js/}"></script>
 		<script src="../static/js/filterInsuranceCustomer.js" th:src="@{/js/filterInsuranceCustomer.js/}"></script>
 		<!-- <script src="../static/js/moment.min.js" th:src="@{/js/moment.min.js/}"></script>
 		<script src="../static/js/daterangepicker.min.js" th:src="@{/js/daterangepicker.min.js/}"></script>
 		 -->
 		 <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<script type="text/javascript">
			$(function() {
			
			    var start = moment().subtract(29, 'days');
			    var end = moment();
			
			    function cb(start, end) {
			        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
			    }
			
			    $('#reportrange').daterangepicker({
			        ranges: {
			            'Today': [moment(), moment()],
			            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
			            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			            'This Month': [moment().startOf('month'), moment().endOf('month')],
			            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			        },
			        "timePicker": true,
			        "alwaysShowCalendars": true,
			        "startDate": start,
			        "endDate": end
			    }, function(start, end, label) {
			    	ajaxGetDetailByStartDate(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
			      console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
			    });
			
			    cb(start, end);
				});
		</script>
		
	</th:block>
</body>
</html>